# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/
env/

# VS Code settings (optional)
.vscode/

# Python environments
*.egg-info/
dist/
build/

# dotenv files
.env